.nu-cookies-alert {
  &-container {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 25px;
    justify-content: center;
    z-index: 1000;
    padding-left: 20px;
    padding-right: 20px;
  }

  &-box {
    display: flex;
    flex-direction: column-reverse;
    max-width: 335px; 
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
      background-color: white;
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      max-width: 622px;
      border-radius: 60px;
    }

    @media (min-width: 1280px) {
      max-width: 1480px;
      border-radius: 34px;
    }

    &__text {
      margin-bottom: 0;
      color: #4a4a4a;
      padding: 20px 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      background-color: white;
      border-radius: 3px;
      margin-top: 20px;

      @media (min-width: 768px) {
        box-shadow: none; 
        padding: 13px 0;
        margin-top: 0;
      }

      @media (min-width: 1280px) {
        padding: 13px 30px;
      }

      a {
        color: #50e3c2;
      }
    }

    &__button {
      display: flex;
      align-self: flex-end;
      cursor: pointer;

      svg {
        filter: drop-shadow(0 0 5px #f2f2f2);
      }

      @media (min-width: 768px) {
        align-self: unset;
        svg {
          filter: none;
        }
      }
    }
  }
}
